.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFAA00;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%; /* Set the font size to 1.2 rem */
    text-align: center;
}
#gradient {
    bottom: 0;
background: linear-gradient(to right, #ec5154, #e78756, rgb(239, 239, 101), rgb(92, 236, 92),rgb(97, 223, 223));
color: white;
padding: 5px;
text-align: center;
}


@media screen and (max-width:700pxpx) { 
    .footer {
        font-size: 100%; 
        position:static;
    } 

    #gradient {
        position:static; 
        padding: 5px; 
    } 
} 