@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Cabin&family=Changa+One&family=Comfortaa:wght@500&family=Delicious+Handrawn&family=EB+Garamond&family=Patua+One&family=Secular+One&family=Shadows+Into+Light+Two&family=Unna&display=swap');

body{
	margin: 0 0 0 0;
}

nav{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	z-index: 100;
	background-color: #ffffff;
	border-bottom: 3px solid black;
}

nav .icon_like{
	width: 1%;
	height: 1%;
	/* padding-left: 10%; */
	margin-top: 0.5%;
	/* margin-right: 10%; */
}

#logo{
	float: left;
	margin-left: 3%;
	margin-right: 2%;
	margin-top: 0.5%;
	width: 3%;
	content: url("Images/home.png");
}

#one{
	content: url("images/home.png");
}

#two{
	content: url("Images/menu.png");
}

#three{
	content: url("Images/pick.png");
}

#four{
	content: url("Images/group.png");
}

/* .no_display{
	display: none;
}

.please_display{
	display: block;
} */

@media screen and (max-width: 1000px) {
	nav a:not(:first-child) {display: none;}
	nav .icon_like:not(:first-child) {display: block; padding-left: 15%;}
	/* nav a.icon {
	  float: right;
	  display: block;
	} */
}

nav a{
	text-decoration: none;
	float: left;
	color: rgb(34, 34, 34);
	text-align: center;
	padding-top: 0px;
	padding-left: 1%;
	padding-right: 2%;
	padding-bottom: 0px;
	font-size: 150%;
	text-transform: uppercase;
	font-family: 'Patua One', cursive;
	margin-top: 1%;
	margin-bottom: 1%;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: black;
}

.footer p{
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%; /* Set the font size to 1.2 rem */
    text-align: center;
	/* margin-top: 5%; */
	margin-top: 1%;
	margin-bottom: 0;
	line-height: 10px;
}

.footer a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	
}

.footer a:hover{
	transition: 0.1s ease 0.1s;
	color:rgb(0, 181, 0);
}

.colorspan{
	color: #ffd500;
}

#gradient {
    bottom: 0;
	background-image: linear-gradient(to right, red, orange, yellow, rgb(69, 255, 1), rgb(0, 181, 0));
	color: white;
	padding: 5px;
	text-align: center;
}

#container1{
	height: 80vh;
	background-color: #FFC33D;
	margin: 0 0 0 0;
	
}

#place_order p{
	position: relative;
	background-color: white;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-family: 'Secular One', sans-serif;
	text-align: left;
	/* padding-left: 5%; */
	border-radius: 200px;
	width: 20%;
	margin-left: 20%;
}

#place_order{
	text-decoration: none;
	color: black;
	width: 80%;
	display: inline-block;
	margin-left: 0;
	padding-left: 0;
}

.red a{
	text-decoration: none;
	color: red;
}

.red a:hover{
	transition: 0.3s ease 0.3s;
	color: green;
}

#or{
	display: inline-block;
}

#side_image{
	float: right;
	margin-right: 25%;
	margin-top: 7%;
	width: 20%;
	content: url("Images/burger.jpg");
}

.arrow_forward{
	float: right;
	content: url("Images/arrow_forward.png");
	width: 8%;
	margin-top: 0.5%;
}

#container2{
	height: 80vh;
	background-color: #ffffff;
	margin: 0 0 0 0;
	
}

#container1 h1{
	margin-top: 4%;
	padding-top: 5%;
	margin-left: 3%;
	text-transform: capitalize;	
	font-family: 'Changa One', cursive;
	font-size: 410%;
}

#container1 p{
	/* margin-top: 4%; */
	/* padding-top: 5%; */
	max-width: 40%;
	margin-left: 3%;
	text-transform: capitalize;	
	font-family: 'Secular One', sans-serif;
	font-size: 110%;
}