<!DOCTYPE html>
<html>
	<head>
		<title>Basic Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel = "stylesheet" href = "../static/aboutpage.css">
	</head>
	<body>
		<nav>
			<img id = "logo">
			<!-- <a href = "" class = "icon_like"><img id = "one"></a> -->
			<a href = "homepage">Home</a>
			<!-- <a href = "" class = "icon_like"><img id = "two"></a> -->
			<a href = "menupage">Menu and Order</a>
			<!-- <a href = "" class = "icon_like"><img id = "three"></a> -->
			<a href = "pickup">Pickup</a>
			<!-- <a href = "" class = "icon_like"><img id = "four"></a> -->
			<a href = "aboutpage">About</a>			
		</nav>
		<div id = "container1">
			<h1 id = "header1_exam_part">Exam next day?</h1><h1 id = "header1_stomach_part">Stomach Empty but no time to go out?</h1>
			<p id = "solution">Trust the people around and get the thing right at your doorstep.<br></p>
			<img id = "first_man">
		</div>

		<div id = "container2">
			<h1><span>Our model works on crowdsourcing.</span>
				<br><span>You give place an order through our Menu and Order Facilty.</span>
				<br><span>The request is sent and displayed on the pickup page.</span>
				<br><span>Also if you are at the canteens.</span>
				<br><span>And want to earn some money.</span>
				<br><span>Lookout for the pickup page and earn some money for delivery.</span>
			</h1>
		</div>

		<div id = "container3">
			<h1 id = "bipasha"><span>Bipasha Garg</span></h1>
			<h1 id = "ishita"><span>Ishita Bansal</span></h1>
			<br>
			<img src="../Images/Clipart1.jpeg" align="right">
			<br><br><br><br><br><br><br>
			<img src="../Images/Clipart2.jpeg" align="right" style="margin-right:20%;">
			<br><br><br><br><br><br><br>
			<img src="../Images/Clipart3.jpeg" align="right" style="margin-right:10%;">
			<br>
			
			<h1 id = "ansh"><span>Ansh Chablani</span></h1>
		</div>
		<div class="footer">
			<div id = "gradient"></div><b>
				<p>IIIT EATS: a perfect platform to serve your hunger <br><br>Created by <span class = "colorspan">Ansh Chablani</span> | <span class = "colorspan">Ishita Bansal</span> | <span class = "colorspan">Bipasha Garg</span> <br><br>
				To know more about us, visit:
			<a href="aboutpage" >About</a></p>
			</b>
			<br />
		  </div>
	
	</body>
</html>
