<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="menu_page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script> -->
</head>


<body>
    <nav>
        <img id = "logo">
        <!-- <a href = "" class = "icon_like"><img id = "one"></a> -->
        <a href = "homepage.html">Home</a>
        <!-- <a href = "" class = "icon_like"><img id = "two"></a> -->
        <a href = "menu_page.html">Menu and Order</a>
        <!-- <a href = "" class = "icon_like"><img id = "three"></a> -->
        <a href = "pickuppage.html">Pickup</a>
        <!-- <a href = "" class = "icon_like"><img id = "four"></a> -->
        <a href = "aboutpage.html">About</a>			
    </nav>

    <div class="container">


        <div class="search-container">
            <input type="text" id="search-input" placeholder="Your Perfect Match">
            <div id="search-results"></div>
          </div>

        <div class="tiles-container">
            <div class="menu">
                <a href="#" class="tile">
                    <h3>1</h3>
                    <h2>Oreo Shake</h2>
                    <p>35</p>
                    
                    <button class="add-btn">Add</button>
                    <div class="counter">
                        <button class="decrement-btn">-</button>
                        <span class="count">0</span>
                        <button class="increment-btn">+</button>
                    </div>
                </a>
                <a href="#" class="tile">
                    <h3>2</h3>
                    <h2>shawarma</h2>
                    <p>Price</p>
                    
                    <button class="add-btn">Add</button>
                    <div class="counter">
                        <button class="decrement-btn">-</button>
                        <span class="count">0</span>
                        <button class="increment-btn">+</button>
                    </div>
                </a>
                <a href="#" class="tile">
                    <h3>3</h3>
                    <h2>noodles</h2>
                    <p>Price</p>
                    
                    <button class="add-btn">Add</button>
                    <div class="counter">
                        <button class="decrement-btn">-</button>
                        <span class="count">0</span>
                        <button class="increment-btn">+</button>
                    </div>
                </a>
                <a href="#" class="tile">
                    <h3>4</h3>
                    <h2>Just checking if wrapping</h2>
                    <p>Price</p>
                    
                    <button class="add-btn">Add</button>
                    <div class="counter">
                        <button class="decrement-btn">-</button>
                        <span class="count">0</span>
                        <button class="increment-btn">+</button>
                    </div>
                </a>
            </div>
        </div>
        <div class="tiles-container">
            <div class="menu">
                <a href="#" class="tile">
                    <h3>5</h3>
                    <h2>fdg 1</h2>
                    <p>Price</p>
                    
                    <button class="add-btn">Add</button>
                    <div class="counter">
                        <button class="decrement-btn">-</button>
                        <span class="count">0</span>
                        <button class="increment-btn">+</button>
                    </div>
                </a>
                <a href="#" class="tile">
                    <h3>6</h3>
                    <h2>dfhd 2</h2>
                    <p>Price</p>
                    
                    <button class="add-btn">Add</button>
                    <div class="counter">
                        <button class="decrement-btn">-</button>
                        <span class="count">0</span>
                        <button class="increment-btn">+</button>
                    </div>
                </a>
                <a href="#" class="tile">
                    <h3>7</h3>
                    <h2>jg 3</h2>
                    <p>Price</p>
                    
                    <button class="add-btn">Add</button>
                    <div class="counter">
                        <button class="decrement-btn">-</button>
                        <span class="count">0</span>
                        <button class="increment-btn">+</button>
                    </div>
                </a>
                <a href="#" class="tile">
                    <h3>8</h3>
                    <h2>dsffsd 1</h2>
                    <p>Price</p>
                    
                    <button class="add-btn">Add</button>
                    <div class="counter">
                        <button class="decrement-btn">-</button>
                        <span class="count">0</span>
                        <button class="increment-btn">+</button>
                    </div>
                </a>
            </div>
        </div>
        <div class="tiles-container">
            <div class="menu">
                <a href="#" class="tile">
                    <h3>9</h3>
                    <h2>fgd 1</h2>
                    <p>Price</p>
                    
                    <button class="add-btn">Add</button>
                    <div class="counter">
                        <button class="decrement-btn">-</button>
                        <span class="count">0</span>
                        <button class="increment-btn">+</button>
                    </div>
                </a>
                <a href="#" class="tile">
                    <h3>10</h3>
                    <h2>jyf 2</h2>
                    <p>Price</p>
                    
                    <button class="add-btn">Add</button>
                    <div class="counter">
                        <button class="decrement-btn">-</button>
                        <span class="count">0</span>
                        <button class="increment-btn">+</button>
                    </div>
                </a>
                <a href="#" class="tile">
                    <h3>1</h3>
                    <h2>sdtgr 3</h2>
                    <p>Price</p>
                    
                    <button class="add-btn">Add</button>
                    <div class="counter">
                        <button class="decrement-btn">-</button>
                        <span class="count">0</span>
                        <button class="increment-btn">+</button>
                    </div>
                </a>
                <a href="#" class="tile">
                    <h3>1</h3>
                    <h2>Title 1</h2>
                    <p>Price</p>
                    
                    <button class="add-btn">Add</button>
                    <div class="counter">
                        <button class="decrement-btn">-</button>
                        <span class="count">0</span>
                        <button class="increment-btn">+</button>
                    </div>
                </a>
            </div>

        </div>
        <div class="tiles-container">
            <div class="menu">
                <a href="#" class="tile">
                    <h3>1</h3>
                    <h2>Tfgitle 1</h2>
                    <p>Price</p>
                    
                    <button class="add-btn">Add</button>
                    <div class="counter">
                        <button class="decrement-btn">-</button>
                        <span class="count">0</span>
                        <button class="increment-btn">+</button>
                    </div>
                </a>
                <a href="#" class="tile">
                    <h3>1</h3>
                    <h2>Title 2</h2>
                    <p>Price</p>
                    
                    <button class="add-btn">Add</button>
                    <div class="counter">
                        <button class="decrement-btn">-</button>
                        <span class="count">0</span>
                        <button class="increment-btn">+</button>
                    </div>
                </a>
                <a href="#" class="tile">
                    <h3>1</h3>
                    <h2>Title 3</h2>
                    <p>Price</p>
                    
                    <button class="add-btn">Add</button>
                    <div class="counter">
                        <button class="decrement-btn">-</button>
                        <span class="count">0</span>
                        <button class="increment-btn">+</button>
                    </div>
                </a>
                <a href="#" class="tile">
                    <h3>1</h3>
                    <h2>Mango </h2>
                    <p>Price</p>
                    
                    <button class="add-btn">Add</button>
                    <div class="counter">
                        <button class="decrement-btn">-</button>
                        <span class="count">0</span>
                        <button class="increment-btn">+</button>
                    </div>
                </a>
            </div>
        </div>

        <p id = "storage">Hello</p>
        <div class="cart">
            <h2>Your Order:</h2>
            <form id = "form">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required><br>
              <label for="location">Location:</label>
              <input type="text" id="location" name="location" required><br>
              <label for="batch">Batch:</label>
              <input type="text" id="batch" name="batch" required>
              <label for="phone">Phone No.:</label>
              <input type="text" id="phone" name="phone" required>
                <div class="cart-list">
                <!-- <p class="empty-cart">Your Cart</p> -->
                </div>
                <div class="cart-buttons">
                    <input class="checkout-btn" type = "submit">Checkout</button>
                </div>
                <div id = "output"></div>
            </form>
        </div>
    <div class="footer">
        <div id="gradient"></div><b>
            <p>IIIT EATS: a perfect platform to serve your hunger <br><br>Created by <span class="colorspan">Ansh
                    Chablani</span> | <span class="colorspan">Ishita Bansal</span> | <span class="colorspan">Bipasha
                    Garg</span> <br><br>
                To know more about us, visit:
                <a href="aboutpage.html">About</a>
            </p>
        </b>
        <br />
    </div>
</div>

    <script src="menu_page.js"></script>
</body>

</html>