<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/pickuppage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <img id = "logo">
        <!-- <a href = "" class = "icon_like"><img id = "one"></a> -->
        <a href = "homepage">Home</a>
        <!-- <a href = "" class = "icon_like"><img id = "two"></a> -->
        <a href = "menupage">Menu and Order</a>
        <!-- <a href = "" class = "icon_like"><img id = "three"></a> -->
        <a href = "pickup">Pickup</a>
        <!-- <a href = "" class = "icon_like"><img id = "four"></a> -->
        <a href = "aboutpage">About</a>			
    </nav>

    <div class="tile">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
    </div>
    
    <!-- <div id = "container">
        <table id = "tabli">
            <tr>
                <th>Item Id</th>
                <th>Name of Item</th>
                <th>Price per Item</th>
                <th>Quantity</th>
                <th>Orderer</th>
                <th>Location</th>
                <th>Batch</th>
                <th>Order</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{{ item[0] }}</td> 
                    <td>{{ item[1] }}</td> 
                    <td>{{ item[2] }}</td> 
                    <td>{{ item[3] }}</td> 
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                    <td>{{ item[6] }}</td>
                    <td><button class = "remove" name = "Remove" id = "{{ item[0] }}" onclick = "remove(`{{ item[0] }}`)">Accept</button></td>
                </tr> 
            {% endfor %}
        </table> -->
        <!-- #id, name of item, price, qunatity, name of orderer, location of orderer, batch of orderer, phone -->
    <div id = "widget_holder">
        {% for item in items %}
        <div class = "widget">
            <button class = "remove" name = "Remove" id = "{{ item[0] }}" onclick = "remove(`{{ item[0] }}`)">Accept</button>
            <p>{{ item[0] }}</p><h1>{{ item[1] }}
            <h2>Price: {{ item[2] }} | Quantity: {{ item[3] }}</h2></h1>
            <h3>Details-> Name: {{ item[5] }} | Batch: {{ item[6] }} | Phone: {{ item[7] }}</h3>
        </div>
                
        {% endfor %}
    </div>
    <div id = "statistics_container">
        <h1 id = "space_maker"></h1>
        <div class = "stats" id = "JC">
            <h1>Orders for JC: {{ jc }}</h1>
        </div>
        <div class = "stats" id = "VC">
            <h1>Orders for VC: {{ vc }}</h1>
        </div>
        <div class = "stats" id = "BBC">
            <h1>Orders for BBC: {{ bbc }}</h1>
        </div>
        <div class = "stats" id = "David">
            <h1>Orders for David: {{ david }}</h1>
        </div>
        <div class = "stats" id = "Tantra">
            <h1>Orders for Tantra: {{ tantra }}</h1>
        </div>
    </div>
    <div class="footer">
        <div id="gradient"></div><b>
            <p>IIIT EATS: a perfect platform to serve your hunger <br><br>Created by <span class="colorspan">Ansh
                    Chablani</span> | <span class="colorspan">Ishita Bansal</span> | <span class="colorspan">Bipasha
                    Garg</span> <br><br>
                To know more about us, visit:
                <a href="aboutpage">About</a>
            </p>
        </b>
        <br />
    </div>

    

    <!-- <p id = "idontknowwhatiamdoing">orders.txt</p> -->
    <script src="../static/pickuppage.js"></script>
</body>

</html>