<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/pickuppage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <img id = "logo">
        <!-- <a href = "" class = "icon_like"><img id = "one"></a> -->
        <a href = "homepage.html">Home</a>
        <!-- <a href = "" class = "icon_like"><img id = "two"></a> -->
        <a href = "menu_page.html">Menu and Order</a>
        <!-- <a href = "" class = "icon_like"><img id = "three"></a> -->
        <a href = "pickuppage.html">Pickup</a>
        <!-- <a href = "" class = "icon_like"><img id = "four"></a> -->
        <a href = "aboutpage.html">About</a>			
    </nav>

    <div class="tile">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
    </div>
    
    <div id = "container">
        
    </div>

    <div class="footer">
        <div id="gradient"></div><b>
            <p>IIIT EATS: a perfect platform to serve your hunger <br><br>Created by <span class="colorspan">Ansh
                    Chablani</span> | <span class="colorspan">Ishita Bansal</span> | <span class="colorspan">Bipasha
                    Garg</span> <br><br>
                To know more about us, visit:
                <a href="aboutpage.html">About</a>
            </p>
        </b>
        <br />
    </div>
    <p id = "idontknowwhatiamdoing">orders.txt</p>
    <script src="pickuppage.js"></script>
</body>

</html>